body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: sans-serif;
    background: #000;
    text-align: center;
    background-image: url("pictures/bled-1899264__480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: black;
    font-size: 30px;
    font-family: monospace;
}
.container{
    background-color: rgba(0,0,0,.6);
    text-align: center;
    overflow: hidden;
}
.container a{
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 15px;
    text-decoration: none;
}
.hoverline::after{
    content:"";
    display: block;
    width: 0;
    height:2px;
    background: #fff;
    transition: width .3s;
}
.hoverline:hover::after{
    width:100%;
    transition: width .3s;
}
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: white;
}
h3 {
    color: black;
    font-size: 20px;
}
footer a {
    font-size: 30px
}
.fa-youtube{
    color: #c4302b;
}
.fa-twitter{
    color: lightblue
}
.fa-linkedin{
    color: #0e76a8;
}
.fa-instagram{
    color: #bc2a8d;
}
.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-size: 30px;
  }
.lol{
    margin: auto;
    width: 35%;
}
.carousel-content p{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
